<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unnamed Asteroid Mining Co.</title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles/styles.css') }}>
    <script type="text/javascript" src={{url_for('static', filename='js/astronauts.js')}}></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body class="astronauts-page">
    <h1>Welcome to the astronauts menu</h1>
    <div class="get-all-probes">
        <span>
            <h3>Get all the astronauts</h3>
            <button onclick="get_all_astronauts()" id="btn-get-all">Activate</button>
        </span>
        <textarea readonly="true" class="hidden terminal" id="terminal-get-all">
        </textarea>
    </div>
    <div class="get-all-probes">
        <span>
            <h3>Add a new astronaut to the fleet</h3>
            <button onclick="show_add_submenu()" id="btn-submenu">Show SubMenu</button>
        </span>
        <div class="hidden" id="submenu-add">
            <span><h4>Astronaut first name</h4><input placeholder="Joe..." type="text" id="input-add-first-name" /></span>
            <span><h4>Astronaut last name</h4><input placeholder="Doe..." type="text" id="input-add-last-name" /></span>
            <span><h4>Station id</h4><input placeholder="Station id..." type="number" id="input-add-station" /></span>
            <span><h4>Salary</h4><input placeholder="Salary..." type="number" id="input-add-salary" /></span>
            <span><h4>Birth</h4><input type="date" id="input-add-birth" /></span>
            <span><h4>Add astronaut</h4><button onclick="add_astronaut()" id="btn-add">Add to Fleet</button></span>
            <textarea readonly="true" class="terminal" id="terminal-add"></textarea>
        </div>
    </div>
    <div class="get-all-probes">
        <span>
            <h3>Auto Add a new astronaut to the fleet</h3>
            <button onclick="show_auto_add_submenu()" id="btn-submenu">Show SubMenu</button>
        </span>
        <div class="hidden" id="submenu-auto-add">
            <span><h4>Add astronaut</h4><button onclick="auto_add_astronaut()" id="btn-auto-add">Add to Fleet</button></span>
            <textarea readonly="true" class="terminal" id="terminal-auto-add"></textarea>
        </div>
    </div>
    <div class="get-all-probes">
        <span>
            <h3>Modify an astronaut from the fleet</h3>
            <button onclick="show_modify_submenu()" id="btn-submenu-modify">Show SubMenu</button>
        </span>
        <div class="hidden" id="submenu-modify">
            <span><h4>Astronaut ID</h4><input placeholder="ID..." type="number" id="input-modify-id" /></span>
            <span><h4>Astronaut first name</h4><input placeholder="Joe..." type="text" id="input-modify-first-name" /></span>
            <span><h4>Astronaut last name</h4><input placeholder="Doe..." type="text" id="input-modify-last-name" /></span>
            <span><h4>Station id</h4><input placeholder="Station id..." type="number" id="input-modify-station" /></span>
            <span><h4>Salary</h4><input placeholder="Salary..." type="number" id="input-modify-salary" /></span>
            <span><h4>Birth</h4><input type="date" id="input-modify-birth" /></span>

            <span><h4>Modify astronaut</h4><button onclick="modify_astronaut()" id="btn-modify">Modify</button></span>
            <textarea readonly="true" class="terminal" id="terminal-modify"></textarea>
        </div>
    </div>
    <div class="get-all-probes">
        <span>
            <h3>Destroy a astronaut from the fleet</h3>
            <button onclick="show_destroy_submenu()" id="btn-submenu-destroy">Show SubMenu</button>
        </span>
        <div class="hidden" id="submenu-destroy">
            <span><h4>Astronaut ID</h4><input type="number" id="input-destroy-astronaut" /></span>
            <span><h4>Destroy astronaut</h4><button onclick="destroy_astronaut()" id="btn-destroy">Destroy</button></span>
            <textarea readonly="true" class="terminal" id="terminal-destroy"></textarea>
        </div>
    </div>
</body>
</html>
