<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unnamed Asteroid Mining Co.</title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles/styles.css') }}>
    <script type="text/javascript" src={{url_for('static', filename='js/spaceprobes.js')}}></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body class="spaceprobes-page">
    <h1>Welcome to the spaceprobes menu</h1>
    <div class="get-all-probes">
        <span>
            <h3>Get all the space probes</h3>
            <button onclick="get_all_spaceprobes()" id="btn-get-all">Activate</button>
        </span>
        <textarea readonly="true" class="hidden terminal" id="terminal-get-all">
        </textarea>
    </div>
    <div class="get-all-probes">
        <span>
            <h3>Add a new spaceprobe to the fleet</h3>
            <button onclick="show_add_submenu()" id="btn-submenu">Show SubMenu</button>
        </span>
        <div class="hidden" id="submenu-add">
            <span><h4>Spaceprobe name</h4><input placeholder="Name..." type="text" id="input-add-name" /></span>
            <span><h4>Spaceprobe Fabrication Year</h4><input placeholder="Name..." type="number" id="input-add-fabrication" /></span>
            <span><h4>Add spaceprobe</h4><button onclick="add_spaceprobe()" id="btn-add">Add to Fleet</button></span>
            <textarea readonly="true" class="terminal" id="terminal-add"></textarea>
        </div>
    </div>
    <div class="get-all-probes">
        <span>
            <h3>Add an operator to spaceprobe</h3>
            <button onclick="show_add_op_submenu()" id="btn-submenu-add-op">Show SubMenu</button>
        </span>
        <div class="hidden" id="submenu-add-op">
            <span><h4>Astronaut ID</h4><input placeholder="Name..." type="number" id="input-add-op-astronaut" /></span>
            <span><h4>Spaceprobe ID</h4><input placeholder="Name..." type="number" id="input-add-op-spaceprobe" /></span>
            <span><h4>Add operator</h4><button onclick="add_operator()" id="btn-add-op">Add operator</button></span>
            <textarea readonly="true" class="terminal" id="terminal-add-op"></textarea>
        </div>
    </div>
    <div class="get-all-probes">
        <span>
            <h3>Modify a spaceprobe from the fleet</h3>
            <button onclick="show_modify_submenu()" id="btn-submenu-modify">Show SubMenu</button>
        </span>
        <div class="hidden" id="submenu-modify">
            <span><h4>Spaceprobe ID</h4><input placeholder="Name..." type="number" id="input-modify-spaceprobe" /></span>
            <span><h4>Spaceprobe name</h4><input placeholder="Name..." type="text" id="input-modify-name" /></span>
            <span><h4>Spaceprobe Fabrication Year</h4><input placeholder="Name..." type="number" id="input-modify-fabrication" /></span>
            <span><h4>Modify spaceprobe</h4><button onclick="modify_spaceprobe()" id="btn-modify">Modify</button></span>
            <textarea readonly="true" class="terminal" id="terminal-modify"></textarea>
        </div>
    </div>
    <div class="get-all-probes">
        <span>
            <h3>Destroy a spaceprobe from the fleet</h3>
            <button onclick="show_destroy_submenu()" id="btn-submenu-destory">Show SubMenu</button>
        </span>
        <div class="hidden" id="submenu-destory">
            <span><h4>Spaceprobe ID</h4><input placeholder="Name..." type="number" id="input-destory-spaceprobe" /></span>
            <span><h4>Modify spaceprobe</h4><button onclick="destory_spaceprobe()" id="btn-destroy">Destroy</button></span>
            <textarea readonly="true" class="terminal" id="terminal-destory"></textarea>
        </div>
    </div>
</body>
</html>
